.weather {
  position: absolute;
  font-style: italic;
  position: absolute;
  bottom: 0%;
  left: 1%;
}

.weather-place {
  font-size: 0.8rem;
  margin-bottom: -2%;
}

.weather-temperature {
  font-size: 0.6rem;
}