.weather {
  position: absolute;
  font-style: italic;
  position: absolute;
  bottom: 3%;
  left: 1%;
  z-index: 3;
  font-weight: bolder;
}

.weather-place {
  font-size: 0.8rem;
  margin-bottom: -2%;
}

.weather-temperature {
  font-size: 0.6rem;
}